version: "3.9"

services:
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-gateway
    restart: always
    env_file:
      - .env
    ports:
      - "8110:8110"
    depends_on:
      - redis
      - rabbitmq

  redis:
    image: redis:7-alpine
    container_name: api-gateway-redis
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: api-gateway-rabbitmq
    restart: always
    ports:
      - "5672:5672"   
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: username
      RABBITMQ_DEFAULT_PASS: password
networks:
  notification_network:
    external: true